[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaml = "==25.5.0"
psycopg2-binary = "==2.9.10"

[dev-packages]
pyspark = "==3.5.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
